# 문제 1

In [1]:
let exam = {
    "철수": [89, 82, 79, 91],
    "민영": [91, 95, 94, 89],
    "남철": [65, 57, 71, 64],
    "혜진": [82, 76, 81, 83]
};

In [2]:
let keys = Object.keys(exam);
let sum = 0;
let avg = 0;

In [3]:
for(i = 0 ; i < keys.length; i++){
    sum = 0
    avg = 0
    for (j = 0; j < exam[keys[i]].length; j ++){
        sum += exam[keys[i]][j];
    }
    avg = sum/exam[keys[i]].length;
    console.log('%s의 총점은 %d점 이고 평균은 %d점 입니다.', keys[i], sum, avg)
}

철수의 총점은 341점 이고 평균은 85.25점 입니다.
민영의 총점은 369점 이고 평균은 92.25점 입니다.
남철의 총점은 257점 이고 평균은 64.25점 입니다.
혜진의 총점은 322점 이고 평균은 80.5점 입니다.

# 문제 2

In [4]:
sum = 0
avg = 0

for(i = 0 ; i < keys.length; i++){ 
    sum += exam[keys[i]][2];
    
}
avg = sum/keys.length;
console.log('모든학생의 수학 총점은 %d점 이고 평균은 %d점 입니다.',sum, avg)

모든학생의 수학 총점은 325점 이고 평균은 81.25점 입니다.

# 문제 3

In [5]:
let number = 1

In [6]:
number = 1
for(i = 2; i < 10; i++){
    if(i%2 == number%2){
        for(j = 1; j < 10; j++){
            console.log('%d X %d = %d', i,j, i*j)
        }
    }
}

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 문제 4

In [7]:
let str = ''

In [8]:
for (i = 1; i < 8; i++){
    str += i;
    console.log('%s', str)
}

1
12
123
1234
12345
123456
1234567

# 문제 5

In [9]:
let check_list = [true, false, false, true, false];

In [10]:
check_list = [true, false, false, true, false];
console.log('before -->' + check_list);

for (i = 0; i < check_list.length; i++){
    check_list[i] = Boolean(check_list[i] ^ true);
}

console.log('after -->' + check_list);

before -->true,false,false,true,false
after -->false,true,true,false,true

# 문제 6

In [11]:
let grade = [75,82, 91];
sum = 0;
avg = 0;

0

In [12]:
sum = 0;
avg = 0;
for (i = 0; i < grade.length; i++){
    sum += grade[i];
}

avg = sum/grade.length;

avg = avg.toFixed(2);
console.log('총점: ' + sum + '점 평균점수: ' + avg + '점');

총점: 248점 평균점수: 82.67점

# 문제 7

In [13]:
let time = [];
let money;

In [14]:
time = [7,5,5,5,5,10,7];
money = 0;

for (i = 0; i < time.length; i++){
    if ( i < 4 ){
        money += time[i] * 4500;
    }
    else{
        money += time[i] * 5200;
    }
}
console.log('1주일간의 전체 급여: ' + money + '원');

1주일간의 전체 급여: 213400원

# 문제 8

In [15]:
let price = [];
let qty = [];

In [16]:
price = [38000, 20000, 17900, 17900];
qty = [6, 4, 3, 5];
money = 0;

for(i = 0; i < price.length; i++){
    money += price[i] * qty[i];
}

console.log('전체 결재 금액: ' + money + '원');

전체 결재 금액: 451200원

# 문제 9

In [17]:
let top_price = 0;

In [18]:
top_price = 0;

for(i = 0; i < price.length; i++){
    if(price[i] * qty[i] > top_price){
        top_price = price[i] * qty[i];
    }
}

console.log('가장 높은 상품금액: ' + top_price)

가장 높은 상품금액: 228000

# 문제 10

In [19]:
let count_free = 0

In [20]:
count_free = 0;

for(i = 0; i < price.length; i++){
    if(price[i] * qty[i] >= 80000){
        count_free++;
    }
}

console.log('무료배송 항목: ' + count_free)

무료배송 항목: 3

# 문제 11

In [21]:
let tmp = 0;

In [22]:
price = [209000,109000,119000,109000,94000];
console.log('상품가격 -->' + price);

for (i = 0; i < price.length - 1; i++){
    for (j = i + 1; j < price.length; j++){
        if (price[i] > price[j]) {
            tmp = price[i];
            price[i] = price[j];
            price[j] = tmp;
        }
    }
}

console.log('낮은가격순 -->' + price);

상품가격 -->209000,109000,119000,109000,94000
낮은가격순 -->94000,109000,109000,119000,209000

# 문제 12

In [23]:
let arr = [];

In [24]:
arr = [5, 3, 2, 8, 9];
console.log('before -->' + arr);

for (i = 0; i < arr.length/2; i++){
    tmp = arr[i];
    arr[i] = arr[(arr.length-1) - i];
    arr[(arr.length-1) - i] = tmp;
}

console.log('after -->' + arr);

before -->5,3,2,8,9
after -->9,8,2,3,5

# 문제 13

In [25]:
student = ['둘리','도우너','또치','희동'];
grade = [
    [78, 89, 96],
    [62, 77, 67],
    [54, 90, 80],
    [100, 99, 98]
];

[ [ 78, 89, 96 ], [ 62, 77, 67 ], [ 54, 90, 80 ], [ 100, 99, 98 ] ]

In [26]:
for (i = 0; i < student.length; i++){
    sum = 0; 
    avg = 0;
    for (j = 0; j < grade[i].length; j ++){
        sum += grade[i][j];
    }
    avg = sum/grade[i].length;
    avg = avg.toFixed(2);
    console.log(student[i] + '총점: ' + sum + '점, 평균: ' + avg + '점');
}

둘리총점: 263점, 평균: 87.67점
도우너총점: 206점, 평균: 68.67점
또치총점: 224점, 평균: 74.67점
희동총점: 297점, 평균: 99.00점

# 문제 14

In [27]:
let total_avg = 0;

In [28]:
for (i = 0; i < student.length; i++){
    sum = 0; 
    avg = 0;
    for (j = 0; j < grade[i].length; j ++){
        sum += grade[i][j];
    }
    avg = sum/grade[i].length;
    total_avg += avg;
    avg = avg.toFixed(2);
    console.log(student[i] + '총점: ' + sum + '점, 평균: ' + avg + '점');
}
total_avg = total_avg/student.length;
console.log('반평균=' + total_avg)

둘리총점: 263점, 평균: 87.67점
도우너총점: 206점, 평균: 68.67점
또치총점: 224점, 평균: 74.67점
희동총점: 297점, 평균: 99.00점
반평균=82.5

# 문제 15

In [29]:
let value = [];

In [30]:
value = [[500, 291], [320, 586], [100, 460], [120, 558], [92, 18], [30, 72]];
sum = 0;

for(i = 0; i < value.length; i++){
    sum += (value[i][0] * value[i][1]) * 0.9;
}

console.log('아이템 총 판매가격: ' + sum + 'G');

아이템 총 판매가격: 404816.4G

# 문제 16

In [31]:
str ='안녕하세요. javascript 수업시간 입니다.'

'안녕하세요. javascript 수업시간 입니다.'

In [32]:
for(i = 0; i < str.length; i++){
    if(str[i] == 's'){
        console.log('s가 나타나는 위치: ' + i)
    }
}

s가 나타나는 위치: 11